In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/2021_heart.csv')

In [3]:
df.head(5)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

In [4]:
df.shape

(438693, 303)

In [5]:
missing_values = df.isnull().sum()

In [6]:
missing_values

_STATE      0
FMONTH      0
IDATE       0
IMONTH      0
IDAY        0
           ..
_VEGLT1A    0
_FRT16A     0
_VEG23A     0
_FRUITE1    0
_VEGETE1    0
Length: 303, dtype: int64

In [7]:
columns_with_more_than_100k_missing_values = missing_values[missing_values > 100_000]

In [8]:
df = df.drop(columns = list(columns_with_more_than_100k_missing_values.index))

In [9]:
df.shape

(438693, 138)

In [10]:
df.isnull().sum().sort_values(ascending = False)

CHOLMED3    61571
_RFCHOL3    61151
TOLDHI3     60836
_VEGESU1    60127
_FRUTSU1    51087
            ...
_TOTINDA        0
_HCVU652        0
_HLTHPLN        0
_MENT14D        0
_VEGETE1        0
Length: 138, dtype: int64

In [11]:
df.head(5)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,SEXVAR,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,2.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,2.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,2.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,2.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

In [45]:
for c in df.columns:
    print(c)

_STATE
FMONTH
IDATE
IMONTH
IDAY
IYEAR
DISPCODE
SEQNO
_PSU
SEXVAR
GENHLTH
PHYSHLTH
MENTHLTH
PRIMINSR
PERSDOC3
MEDCOST1
CHECKUP1
EXERANY2
BPHIGH6
CHOLCHK3
TOLDHI3
CHOLMED3
CVDINFR4
CVDCRHD4
CVDSTRK3
ASTHMA3
CHCSCNCR
CHCOCNCR
CHCCOPD3
ADDEPEV3
CHCKDNY2
DIABETE4
HAVARTH5
MARITAL
EDUCA
RENTHOM1
CPDEMO1B
VETERAN3
EMPLOY1
CHILDREN
INCOME3
WEIGHT2
HEIGHT3
DEAF
BLIND
DECIDE
DIFFWALK
DIFFDRES
DIFFALON
SMOKE100
USENOW3
ECIGNOW1
ALCDAY5
FLUSHOT7
PNEUVAC4
HIVTST7
FRUIT2
FRUITJU2
FVGREEN1
FRENCHF1
POTATOE1
VEGETAB2
QSTVER
QSTLANG
_METSTAT
_URBSTAT
_STSTR
_STRWT
_RAWRAKE
_WT2RAKE
_IMPRACE
_DUALUSE
_LLCPWT2
_LLCPWT
_RFHLTH
_PHYS14D
_MENT14D
_HLTHPLN
_HCVU652
_TOTINDA
_RFHYPE6
_CHOLCH3
_RFCHOL3
_MICHD
_LTASTH1
_CASTHM1
_ASTHMS1
_DRDXAR3
_LMTACT3
_LMTWRK3
_PRACE1
_MRACE1
_HISPANC
_RACE
_RACEG21
_RACEGR3
_RACEPRV
_SEX
_AGEG5YR
_AGE65YR
_AGE80
_AGE_G
HTIN4
HTM4
WTKG3
_BMI5
_BMI5CAT
_RFBMI5
_CHLDCNT
_EDUCAG
_INCOMG1
_SMOKER3
_RFSMOK3
_CURECI1
DRNKANY5
DROCDY3_
_RFBING5
_DRNKWK1
_RFDRHV7
_AIDTST4
FTJUDA2_
FRUTDA2_
GRENDA1_
FRNCHDA_
POTADA1_
VEGEDA2_
_MISFRT1
_MISVEG1
_FRTRES1
_VEGRES1
_FRUTSU1
_VEGESU1
_FRTLT1A
_VEGLT1A
_FRT16A
_VEG23A
_FRUITE1
_VEGETE1

In [46]:
initial_removed_columns = ['FMONTH', 'IDATE', 'IMONTH', 'IDAY', 
                           'IYEAR', 'SEQNO', '_PSU', 'PRIMINSR', 
                           'PERSDOC3', 'MEDCOST1', 'CHOLCHK3', 'CVDINFR4', 
                           'CVDCRHD4', 'EDUCA', 'RENTHOM1', 'CPDEMO1B', 
                           'VETERAN3', 'DEAF', 'BLIND', 'DIFFALON', 
                           'FLUSHOT7','PNEUVAC4', 'HIVTST7', 
                           'VEGETAB2', 'QSTVER', 'QSTLANG', '_STSTR', 
                           '_STRWT','_RAWRAKE', '_WT2RAKE', '_DUALUSE', 
                           '_LLCPWT2', '_LLCPWT', '_HLTHPLN', '_HCVU652',
                           '_LTASTH1', '_CASTHM1', '_LMTACT3', '_LMTWRK3', 
                           '_MRACE1', '_HISPANC', '_RACEG21','_RACEPRV', 
                           '_BMI5CAT', '_RFBMI5', '_RFSMOK3', '_CURECI1', 
                           '_RFBING5', '_RFDRHV7', '_AIDTST4', '_MISFRT1', 
                           '_MISVEG1', '_FRTRES1', '_VEGRES1','_FRTLT1A', 
                           '_VEGLT1A', '_FRT16A', '_VEG23A', '_FRUITE1', 
                           '_VEGETE1', 'DRNKANY5', 'ALCDAY5', 'DROCDY3_', 
                           'SEXVAR', '_AGE65YR', 'HEIGHT3', 'HTIN4', 
                           'WEIGHT2', '_PRACE1', '_RACE', '_RACEGR3', 
                           'INCOME3', 'EXERANY2', '_CHLDCNT', '_CHOLCH3',
                           'TOLDHI3', 'BPHIGH6', '_MENT14D', '_PHYS14D',
                           'FRUIT2', 'FRUITJU2', 'FVGREEN1', 'FRENCHF1',
                           'POTATOE1', '_FRUTSU1', '_VEGESU1', 'DISPCODE', '_RFHLTH', 'ASTHMA3', 'SMOKE100',
                           '_URBSTAT', 'HAVARTH5', '_AGEG5YR', '_AGE_G'
                    ]

In [47]:
len(initial_removed_columns)

94

In [48]:
for c in initial_removed_columns:
    if c not in df.columns:
        print(c)

In [49]:
df_after_initial = df.drop(columns = initial_removed_columns)

In [50]:
df_after_initial.head()

,_STATE,GENHLTH,PHYSHLTH,MENTHLTH,CHECKUP1,CHOLMED3,CVDSTRK3,CHCSCNCR,CHCOCNCR,CHCCOPD3,...,_EDUCAG,_INCOMG1,_SMOKER3,_DRNKWK1,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_
0,1.0,5.0,20.0,10.0,2.0,1.0,2.0,2.0,2.0,1.0,...,2.0,3.0,3.0,5.397605e-79,5.397605e-79,100.0,5.700000e+01,4.300000e+01,14.0,100.0
1,1.0,3.0,88.0,88.0,1.0,1.0,2.0,2.0,2.0,2.0,...,4.0,9.0,4.0,5.397605e-79,5.397605e-79,100.0,1.400000e+01,5.397605e-79,14.0,100.0
2,1.0,2.0,88.0,88.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,5.397605e-79,1.400000e+01,14.0,43.0
3,1.0,2.0,88.0,10.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,5.0,4.0,3.000000e+02,7.100000e+01,43.0,1.000000e+01,5.700000e+01,27.0,71.0
4,1.0,5.0,30.0,88.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,1.000000e+02,2.900000e+01,29.0,100.0

In [62]:
df_after_initial.shape[0] - df_after_initial[df_after_initial['_MICHD'].isnull() == True].shape[0]

434058

In [63]:
# Delete rows without target variables
df_target_no_nulls = df_after_initial[df_after_initial['_MICHD'].isnull() == False]
df_target_no_nulls.shape

(434058, 44)

In [65]:
# Delete rows with more than 
colums_missing = df_target_no_nulls.isnull().sum(axis = 1)

In [73]:
indexes = colums_missing[colums_missing.values >= 10].index

In [75]:
len(indexes)

19547

In [74]:
df_cleaning = df_target_no_nulls.drop(indexes)

In [76]:
df_cleaning.shape

(414511, 44)

In [77]:
df_cleaning.shape[0] + len(indexes)

434058

In [82]:
# Check duplicated rows
df_cleaning.duplicated().sum()

0

In [78]:
df_cleaning.isnull().sum()

_STATE          0
GENHLTH         3
PHYSHLTH        2
MENTHLTH        0
CHECKUP1        0
CHOLMED3    56662
CVDSTRK3        0
CHCSCNCR        0
CHCOCNCR        0
CHCCOPD3        0
ADDEPEV3        0
CHCKDNY2        0
DIABETE4        0
MARITAL         1
EMPLOY1         1
CHILDREN        2
DECIDE          0
DIFFWALK        0
DIFFDRES      494
USENOW3      2715
ECIGNOW1     3648
_METSTAT     6812
_IMPRACE        0
_TOTINDA        0
_RFHYPE6        0
_RFCHOL3    56248
_MICHD          0
_ASTHMS1        0
_DRDXAR3     2332
_SEX            0
_AGE80          0
HTM4         9849
WTKG3       25486
_BMI5       30786
_EDUCAG         0
_INCOMG1        0
_SMOKER3        0
_DRNKWK1        0
FTJUDA2_    24072
FRUTDA2_    23649
GRENDA1_    23943
FRNCHDA_    24471
POTADA1_    28095
VEGEDA2_    28150
dtype: int64

In [83]:
df_cleaning.to_csv('../data/cleaning_data_phase1.csv', index = False)

In [41]:
# with open('../data_dictionary.rtf', 'r') as file:
#     text = file.read()
    
# dic_columns = []
# for i in test.split('\n'):
#     dic_columns.append(i.split(':')[0])

In [43]:
# len(dic_columns)

44

In [44]:
# for c in dic_columns:
#     if c not in df_after_initial.columns:
#         print(c)

USENOW3