In [1]:
# Import Libraries
import pandas as pd
import numpy as np

In [2]:
# Import Data
df = pd.read_csv('../data/2021_heart.csv.zip')

In [3]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

# 1. Initial Data Cleaning

In [4]:
df.shape

(438693, 303)

In [5]:
missing_values = df.isnull().sum()

## 1.1 Discard columns with excessive missing data

In [6]:
columns_with_more_than_100k_missing_values = missing_values[missing_values > 100_000]

In [7]:
df = df.drop(columns = list(columns_with_more_than_100k_missing_values.index))

In [8]:
df.shape

(438693, 138)

##  1.2 Eliminate columns that don't pertain to our analysis

In [9]:
initial_removed_columns = ['FMONTH', 'IDATE', 'IMONTH', 'IDAY', 
                           'IYEAR', 'SEQNO', '_PSU', 'PRIMINSR', 
                           'PERSDOC3', 'MEDCOST1', 'CHOLCHK3', 'CVDINFR4', 
                           'CVDCRHD4', 'EDUCA', 'RENTHOM1', 'CPDEMO1B', 
                           'VETERAN3', 'DEAF', 'BLIND', 'DIFFALON', 
                           'FLUSHOT7','PNEUVAC4', 'HIVTST7', 
                           'VEGETAB2', 'QSTVER', 'QSTLANG', '_STSTR', 
                           '_STRWT','_RAWRAKE', '_WT2RAKE', '_DUALUSE', 
                           '_LLCPWT2', '_LLCPWT', '_HLTHPLN', '_HCVU652',
                           '_LTASTH1', '_CASTHM1', '_LMTACT3', '_LMTWRK3', 
                           '_MRACE1', '_HISPANC', '_RACEG21','_RACEPRV', 
                           '_BMI5CAT', '_RFBMI5', '_RFSMOK3', '_CURECI1', 
                           '_RFBING5', '_RFDRHV7', '_AIDTST4', '_MISFRT1', 
                           '_MISVEG1', '_FRTRES1', '_VEGRES1','_FRTLT1A', 
                           '_VEGLT1A', '_FRT16A', '_VEG23A', '_FRUITE1', 
                           '_VEGETE1', 'DRNKANY5', 'ALCDAY5', 'DROCDY3_', 
                           'SEXVAR', '_AGE65YR', 'HEIGHT3', 'HTIN4', 
                           'WEIGHT2', '_PRACE1', '_RACE', '_RACEGR3', 
                           'INCOME3', 'EXERANY2', '_CHLDCNT', '_CHOLCH3',
                           'TOLDHI3', 'BPHIGH6', '_MENT14D', '_PHYS14D',
                           'FRUIT2', 'FRUITJU2', 'FVGREEN1', 'FRENCHF1',
                           'POTATOE1', '_FRUTSU1', '_VEGESU1', 'DISPCODE', '_RFHLTH', 'ASTHMA3', 'SMOKE100',
                           '_URBSTAT', 'HAVARTH5', '_AGEG5YR', '_AGE_G'
                    ]

In [10]:
# The number of columns to be removed
len(initial_removed_columns)

94

In [11]:
df_after_initial = df.drop(columns = initial_removed_columns)

In [12]:
df_after_initial.head()

,_STATE,GENHLTH,PHYSHLTH,MENTHLTH,CHECKUP1,CHOLMED3,CVDSTRK3,CHCSCNCR,CHCOCNCR,CHCCOPD3,...,_EDUCAG,_INCOMG1,_SMOKER3,_DRNKWK1,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_
0,1.0,5.0,20.0,10.0,2.0,1.0,2.0,2.0,2.0,1.0,...,2.0,3.0,3.0,5.397605e-79,5.397605e-79,100.0,5.700000e+01,4.300000e+01,14.0,100.0
1,1.0,3.0,88.0,88.0,1.0,1.0,2.0,2.0,2.0,2.0,...,4.0,9.0,4.0,5.397605e-79,5.397605e-79,100.0,1.400000e+01,5.397605e-79,14.0,100.0
2,1.0,2.0,88.0,88.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,5.397605e-79,1.400000e+01,14.0,43.0
3,1.0,2.0,88.0,10.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,5.0,4.0,3.000000e+02,7.100000e+01,43.0,1.000000e+01,5.700000e+01,27.0,71.0
4,1.0,5.0,30.0,88.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,1.000000e+02,2.900000e+01,29.0,100.0

## 1.3 Delete rows without label of target variable

In [13]:
# Delete rows without target variables
df_target_no_nulls = df_after_initial[df_after_initial['_MICHD'].isnull() == False]
df_target_no_nulls.shape

(434058, 44)

## 1.4 Remove rows with numerous missing values.

In [14]:
# Delete rows with more than 10 missing columns
colums_missing = df_target_no_nulls.isnull().sum(axis = 1)

In [15]:
indexes = colums_missing[colums_missing.values >= 10].index

In [16]:
len(indexes)

19547

In [17]:
df_cleaning = df_target_no_nulls.drop(indexes)

In [18]:
df_cleaning.shape

(414511, 44)

In [19]:
df_cleaning.shape[0] + len(indexes)

434058

## 1.5 Remove duplicated rows

In [20]:
# Check duplicated rows
df_cleaning.duplicated().sum()

0

In [21]:
df_cleaning.isnull().sum()

_STATE          0
GENHLTH         3
PHYSHLTH        2
MENTHLTH        0
CHECKUP1        0
CHOLMED3    56662
CVDSTRK3        0
CHCSCNCR        0
CHCOCNCR        0
CHCCOPD3        0
ADDEPEV3        0
CHCKDNY2        0
DIABETE4        0
MARITAL         1
EMPLOY1         1
CHILDREN        2
DECIDE          0
DIFFWALK        0
DIFFDRES      494
USENOW3      2715
ECIGNOW1     3648
_METSTAT     6812
_IMPRACE        0
_TOTINDA        0
_RFHYPE6        0
_RFCHOL3    56248
_MICHD          0
_ASTHMS1        0
_DRDXAR3     2332
_SEX            0
_AGE80          0
HTM4         9849
WTKG3       25486
_BMI5       30786
_EDUCAG         0
_INCOMG1        0
_SMOKER3        0
_DRNKWK1        0
FTJUDA2_    24072
FRUTDA2_    23649
GRENDA1_    23943
FRNCHDA_    24471
POTADA1_    28095
VEGEDA2_    28150
dtype: int64

# 2. Secondary Data Cleaning

- Categorical Columns: 
    - We'll identify and match the values to their respective category names, using the code book as our guide.
    - Any missing values will be labeled and treated as a new category - we'll call it "missing"
- Numerical Columns:
    - We'll label and assign the values as per the instructions given in the code book.

## 2.1 Group One Columns

In [22]:
lucas_df = df_cleaning[['_SMOKER3','USENOW3','ECIGNOW1','_DRNKWK1',
'_METSTAT','_IMPRACE','_AGE80','_EDUCAG',
'FTJUDA2_','FRUTDA2_','GRENDA1_','FRNCHDA_',
'POTADA1_','VEGEDA2_']].copy()

# SMOKER3
Four-level smoker status: Everyday smoker, Someday smoker, Former smoker, Non-smoker

In [23]:
#Change smoker values
smoker_labels = {9 : 'missing', 4 : 'never smoked', 3: 'former smoker', 2: 'someday smoker', 1: 'everday smoker'}

lucas_df['_SMOKER3'] = lucas_df['_SMOKER3'].map(smoker_labels)

In [24]:
lucas_df['_SMOKER3'].value_counts(dropna = False)

never smoked      244013
former smoker     111829
everday smoker     38387
someday smoker     14711
missing             5571
Name: _SMOKER3, dtype: int64

# USENOW3
Frequency of using chewing tobacco

In [25]:
#Change usenow values
usenow_labels = {1: 'every day', 2: 'some days', 3: 'no', 7: 'not sure', 9: 'refused', None: 'missing'}

lucas_df['USENOW3'] = lucas_df['USENOW3'].map(usenow_labels)

In [26]:
lucas_df['USENOW3'].value_counts(dropna = False)

no           398041
every day      7671
some days      5393
missing        2715
refused         506
not sure        185
Name: USENOW3, dtype: int64

# ECIGNOW1
Do you now use e-cigarettes, every day, some days, or not at all?

In [27]:
#Changing ECIGNOW1 values
ECIGNOW1_labels = {1: 'everyday', 2: 'somedays', 3: 'no', 4: 'never', 7: 'not sure', 9: 'refused', None: 'missing'}

lucas_df['ECIGNOW1'] = lucas_df['ECIGNOW1'].map(ECIGNOW1_labels)

In [28]:
lucas_df['ECIGNOW1'].value_counts(dropna = False)

no          307990
never        82978
somedays     10182
everyday      8977
missing       3648
refused        497
not sure       239
Name: ECIGNOW1, dtype: int64

# _DRNKWK1
Calculated total number of alcoholic beverages consumed per week.

In [29]:
#Changing _DRNKWK1 values: if it is equal to 999000 it is Null

lucas_df['_DRNKWK1'] = lucas_df['_DRNKWK1'].map(lambda x: x if x < 99900 else None)

In [30]:
lucas_df['_DRNKWK1'].isnull().sum()

15125

# _METSTAT
Metropolitan Status

In [31]:
#Changing _METSTAT values
_METSTAT_labels = {1: 'yes', 2: 'no', None: 'missing'}

lucas_df['_METSTAT'] = lucas_df['_METSTAT'].map(_METSTAT_labels)

In [32]:
lucas_df['_METSTAT'].value_counts(dropna = False)

yes        283103
no         124596
missing      6812
Name: _METSTAT, dtype: int64

# _IMPRACE
Imputed race/ethnicity value (If no response, imputed with most common race for that region)

In [33]:
#Changing _IMPRACE values
_IMPRACE_labels = {1: 'white', 2: 'black', 3: 'asian', 4: 'native american', 5: 'hispanic', 6: 'other race'}

lucas_df['_IMPRACE'] = lucas_df['_IMPRACE'].map(_IMPRACE_labels)

In [34]:
lucas_df['_IMPRACE'].value_counts(dropna = False)

white              315667
hispanic            36145
black               30488
other race          14654
asian               10630
native american      6927
Name: _IMPRACE, dtype: int64

# _AGE80
Imputed Age value collapsed above 80

In [35]:
lucas_df['_AGE80'].describe()

count    414511.000000
mean         54.722048
std          17.569839
min          18.000000
25%          41.000000
50%          57.000000
75%          69.000000
max          80.000000
Name: _AGE80, dtype: float64

# _EDUCAG
Level of education completed

In [36]:
#Changing _IMPRACE values
_EDUCAG_labels = {1: 'no highschool', 2: 'highschool', 3: 'attended college', 4: 'graduated college', 9: 'missing'}

lucas_df['_EDUCAG'] = lucas_df['_EDUCAG'].map(_EDUCAG_labels)

In [37]:
lucas_df['_EDUCAG'].value_counts(dropna = False)

graduated college    170496
attended college     114027
highschool           104345
no highschool         23877
missing                1766
Name: _EDUCAG, dtype: int64

# FTJUDA2_
Computed Fruit Juice intake in times per day

In [38]:
lucas_df['FTJUDA2_'].isnull().sum()

24072

In [39]:
lucas_df['FTJUDA2_'].describe().round()

count    390439.0
mean         44.0
std         364.0
min           0.0
25%           0.0
50%           3.0
75%          33.0
max        9900.0
Name: FTJUDA2_, dtype: float64

# FRUTDA2_
Computed Fruit intake in times per day

In [40]:
lucas_df['FRUTDA2_'].isnull().sum()

23649

In [41]:
lucas_df['FRUTDA2_'].describe().round()

count    390862.0
mean        134.0
std         499.0
min           0.0
25%          43.0
50%         100.0
75%         100.0
max        9900.0
Name: FRUTDA2_, dtype: float64

# GRENDA1_
Computed Dark Green Vegetable intake in times per day

In [42]:
lucas_df['GRENDA1_'].isnull().sum()

23943

In [43]:
lucas_df['GRENDA1_'].describe().round()

count    390568.0
mean         79.0
std         464.0
min           0.0
25%          14.0
50%          43.0
75%          71.0
max        9900.0
Name: GRENDA1_, dtype: float64

# FRNCHDA_
Computed French Fry intake in times per day

In [44]:
lucas_df['FRNCHDA_'].isnull().sum()

24471

In [45]:
lucas_df['FRNCHDA_'].describe().round()

count    390040.0
mean         26.0
std         174.0
min           0.0
25%           3.0
50%          14.0
75%          29.0
max        9900.0
Name: FRNCHDA_, dtype: float64

# POTADA1_
Computed Potato Servings per day

In [46]:
lucas_df['POTADA1_'].isnull().sum()

28095

In [47]:
lucas_df['POTADA1_'].describe().round()

count    386416.0
mean         28.0
std         178.0
min           0.0
25%           7.0
50%          14.0
75%          29.0
max        9900.0
Name: POTADA1_, dtype: float64

# VEGEDA2_
Computed Other Vegetable intake in times per day

In [48]:
lucas_df['VEGEDA2_'].isnull().sum()

28150

In [49]:
lucas_df['VEGEDA2_'].describe().round()

count    386361.0
mean        140.0
std         650.0
min           0.0
25%          43.0
50%         100.0
75%         100.0
max        9900.0
Name: VEGEDA2_, dtype: float64

## 2.2 Group Two Columns

In [50]:
columns_mark = ['CHCCOPD3','CHCKDNY2','DIABETE4','_DRDXAR3','MARITAL','CHILDREN','_INCOMG1','EMPLOY1','HTM4','WTKG3','_BMI5','DECIDE','DIFFWALK','DIFFDRES','_STATE']
df_mark = df_cleaning[columns_mark].copy()

In [51]:
columns_to_map = ['CHCCOPD3','CHCKDNY2','_DRDXAR3','DECIDE','DIFFWALK','DIFFDRES']
columns_to_ask = ['DIABETE4']
columns_to_map_seperately= ['MARITAL','CHILDREN','INCOMG1','EMPLOY1','HTM4','WTKG3','BMI5','_STATE']

# MARITAL

In [52]:
df_mark['MARITAL'] = df_mark['MARITAL'].apply(lambda x: 'married' if x == 1 else 'divorced' if x == 2 else 'widowed' if x == 3 else 'separated' if x == 4 else 'never_married' if x == 5 else 'member_unmarried' if x ==6 else 'refused' if x ==9 else 'unknown')

In [53]:
df_mark['MARITAL'].value_counts()

married             215707
never_married        72928
divorced             52734
widowed              44502
member_unmarried     16790
separated             7861
refused               3988
unknown                  1
Name: MARITAL, dtype: int64

In [54]:
df_mark['MARITAL'].isnull().sum()

0

# CHILDREN

In [55]:
df_mark['CHILDREN']= df_mark['CHILDREN'].apply(lambda x: 0 if x == 88 else None if x ==99 else x)

In [56]:
df_mark['CHILDREN'].value_counts(dropna = False)

0.0     304492
1.0      44409
2.0      37481
3.0      15699
4.0       5736
NaN       3684
5.0       1845
6.0        688
7.0        270
8.0         99
9.0         42
10.0        29
11.0         7
12.0         7
15.0         4
13.0         3
14.0         3
83.0         3
23.0         2
82.0         1
20.0         1
21.0         1
18.0         1
16.0         1
55.0         1
17.0         1
81.0         1
Name: CHILDREN, dtype: int64

# INCOMIG1

In [57]:
df_mark['_INCOMG1'] = df_mark['_INCOMG1'].apply(lambda x: 'less_15k' if x == 1 else '15k_25k' if x == 2 else '25k_35k' if x == 3 else '35k_50k' if x == 4 else '50k_100k' if x == 5 else '100k_200k' if x ==6 else 'greater_200k' if x ==7 else 'unknown')

In [58]:
df_mark['_INCOMG1'].value_counts()

50k_100k        104831
unknown          79581
100k_200k        66109
35k_50k          46934
25k_35k          42336
15k_25k          34613
less_15k         21486
greater_200k     18621
Name: _INCOMG1, dtype: int64

In [59]:
df_mark['_INCOMG1'].isnull().sum()

0

# EMPLOY1

In [60]:
df_mark['EMPLOY1'] = df_mark['EMPLOY1'].apply(lambda x: 'employed_for_wages' if x == 1 else 'self_employed' if x == 2 else 'out_of_work_more_than_1_year' if x == 3 else 'out_of_work_less_than_1_year' if x == 4 else 'homemaker' if x == 5 else 'student' if x ==6 else 'retired' if x ==7 else 'unable_to_work'if x == 8 else 'refused')

In [61]:
df_mark['EMPLOY1'].isnull().sum()

0

In [62]:
df_mark['EMPLOY1'].value_counts()

employed_for_wages              177942
retired                         125874
self_employed                    35873
unable_to_work                   24139
homemaker                        16807
out_of_work_more_than_1_year     10766
student                          10234
out_of_work_less_than_1_year      9226
refused                           3650
Name: EMPLOY1, dtype: int64

# DIABETE4

In [63]:
df_mark['DIABETE4'] = df_mark['DIABETE4'].apply(lambda x: 'yes'if x == 1 else 'yes_told_during_pregnancy' if x ==2 else 'no' if x ==3 else 'no_pre_diabetes'if x ==4 else 'not_sure'if x ==7 else 'refused' if x == 9 else 'missing')

In [64]:
df_mark['DIABETE4'].value_counts(dropna = False)

no                           346408
yes                           54461
no_pre_diabetes                9408
yes_told_during_pregnancy      3633
not_sure                        502
refused                          99
Name: DIABETE4, dtype: int64

# HTM4

In [65]:
df_mark['HTM4'].fillna(np.nan)

0         150.0
1         168.0
2         165.0
3         163.0
4         180.0
          ...
438688    157.0
438689    157.0
438690    180.0
438691    183.0
438692    160.0
Name: HTM4, Length: 414511, dtype: float64

In [66]:
df_mark['HTM4'].max(), df_mark['HTM4'].min()

(241.0, 91.0)

# WTKG3

In [67]:
df_mark['WTKG3'].fillna(np.nan)

0         3266.0
1            NaN
2         7711.0
3         8845.0
4         9344.0
           ...
438688    6123.0
438689       NaN
438690    9979.0
438691    7938.0
438692    8119.0
Name: WTKG3, Length: 414511, dtype: float64

# _BMI5

In [68]:
df_mark['_BMI5'].fillna(np.nan)

0         1454.0
1            NaN
2         2829.0
3         3347.0
4         2873.0
           ...
438688    2469.0
438689       NaN
438690    3068.0
438691    2373.0
438692    3171.0
Name: _BMI5, Length: 414511, dtype: float64

# CHCCOPD3, CHCKDNY2, _DRDXAR3, DECIDE, DIFFWALK, DIFFDRES

In [69]:
def number_converter(value):
    if pd.isnull(value):
        return 'not sure'
    elif value == 1:
        return 'yes'
    elif value == 2:
        return 'no'
    elif value == 7:
        return 'not sure'
    elif value == 9:
        return 'refused'
    else:
        return value

In [70]:
df_mark[columns_to_map] = df_mark[columns_to_map].applymap(number_converter)

# _STATE

In [71]:
state_mapping = {
    1: 'Alabama',
     2: 'Alaska',
     4: 'Arizona',
     5: 'Arkansas',
     6: 'California',
     8: 'Colorado',
     9: 'Connecticut',
     10: 'Delaware',
     11: 'District of Columbia',
     13: 'Georgia',
     15: 'Hawaii',
     16: 'Idaho',
     17: 'Illinois',
     18: 'Indiana',
     19: 'Iowa',
     20: 'Kansas',
     21: 'Kentucky',
     22: 'Louisiana',
     23: 'Maine',
     24: 'Maryland',
     25: 'Massachusetts',
     26: 'Michigan',
     27: 'Minnesota',
     28: 'Mississippi',
     29: 'Missouri',
     30: 'Montana',
     31: 'Nebraska',
     32: 'Nevada',
     33: 'New Hampshire',
     34: 'New Jersey',
     35: 'New Mexico',
     36: 'New York',
     37: 'North Carolina',
     38: 'North Dakota',
     39: 'Ohio',
     40: 'Oklahoma',
     41: 'Oregon',
     42: 'Pennsylvania',
     44: 'Rhode Island',
     45: 'South Carolina',
     46: 'South Dakota',
     47: 'Tennessee',
     48: 'Texas',
     49: 'Utah',
     50: 'Vermont',
     51: 'Virginia',
     53: 'Washington',
     54: 'West Virginia',
     55: 'Wisconsin',
     56: 'Wyoming',
     66: 'Guam',
     72: 'Puerto Rico',
     78: 'Virgin Islands'
}

In [72]:
df_mark['_STATE'].replace(state_mapping, inplace = True)

In [73]:
df_mark.head()

,CHCCOPD3,CHCKDNY2,DIABETE4,_DRDXAR3,MARITAL,CHILDREN,_INCOMG1,EMPLOY1,HTM4,WTKG3,_BMI5,DECIDE,DIFFWALK,DIFFDRES,_STATE
0,yes,no,no,yes,married,0.0,25k_35k,retired,150.0,3266.0,1454.0,no,no,no,Alabama
1,no,yes,yes,yes,refused,0.0,unknown,unable_to_work,168.0,NaN,NaN,yes,yes,no,Alabama
2,no,no,yes,no,widowed,0.0,15k_25k,retired,165.0,7711.0,2829.0,no,no,no,Alabama
3,no,no,yes,no,married,0.0,50k_100k,retired,163.0,8845.0,3347.0,no,no,no,Alabama
4,no,no,yes,no,married,0.0,15k_25k,unable_to_work,180.0,9344.0,2873.0,no,yes,no,Alabama

In [74]:
df_mark.isnull().sum()

CHCCOPD3        0
CHCKDNY2        0
DIABETE4        0
_DRDXAR3        0
MARITAL         0
CHILDREN     3684
_INCOMG1        0
EMPLOY1         0
HTM4         9849
WTKG3       25486
_BMI5       30786
DECIDE          0
DIFFWALK        0
DIFFDRES        0
_STATE          0
dtype: int64

## 2.3 Group Three Columns

In [75]:
ran_columns = ['_MICHD', '_SEX', 'GENHLTH', 'PHYSHLTH', 
               'MENTHLTH', 'ADDEPEV3', 'CHECKUP1', 
               '_TOTINDA', '_RFHYPE6', 'CHOLMED3', '_RFCHOL3', 
               'CVDSTRK3', '_ASTHMS1', 'CHCSCNCR', 'CHCOCNCR']

In [76]:
df_ran = df_cleaning[ran_columns].copy()

In [77]:
df_ran.isnull().sum()

_MICHD          0
_SEX            0
GENHLTH         3
PHYSHLTH        2
MENTHLTH        0
ADDEPEV3        0
CHECKUP1        0
_TOTINDA        0
_RFHYPE6        0
CHOLMED3    56662
_RFCHOL3    56248
CVDSTRK3        0
_ASTHMS1        0
CHCSCNCR        0
CHCOCNCR        0
dtype: int64

In [78]:
# The following are the mapping to change these columns into categorical
_MICHD_mapping = {
    1: 'Yes',
    2: 'No'
}

_SEX_mapping ={
    1: 'Male',
    2: 'Female'
}

GENHLTH_mapping = {
    1: 'Excellent',
    2: 'Very good',
    3: 'Good',
    4: 'Fair',
    5: 'Poor',
    7: "Don't know/Not sure",
    9: 'Refused'
}

ADDEPEV3_mapping = {
    1: "Yes",
    2: "No",
    7: "Don't know/Not sure",
    9: "Refused"
}

CHECKUP1_mapping = {
    1: "Within past year (anytime < 12 months ago)",
    2: "Within past 2 years (1 year but < 2 years ago)",
    3: "Within past 5 years (2 years but < 5 years ago)",
    4: "5 or more years ago",
    7: "Don’t know/Not sure",
    8: "Never",
    9: "Refused"
}

_TOTINDA_mapping = {
    1: "Had physical activity or exercise",
    2: "No physical activity or exercise in last 30 days",
    9: "Don’t know/Refused/Missing"
}

_RFHYPE6_mapping = {
    1: "No",
    2: "Yes",
    9: "Don’t know/Not Sure/Refused/Missing"
}

CHOLMED3_mapping = {
    1: "Yes",
    2: "No",
    7: "Don’t know/Not Sure",
    9: "Refused"
}

_RFCHOL3_mapping = {
    1: "No",
    2: "Yes",
    9: "Don’t know/Not Sure/Refused/Missing"
}

CVDSTRK3_mapping = {
    1: "Yes",
    2: "No",
    7: "Don’t know/Not Sure",
    9: "Refused"
}

_ASTHMS1_mapping = {
    1: "Current",
    2: "Former",
    3: "Never",
    9: "Don’t know/Not Sure Or Refused/Missing"
}

CHCSCNCR_mapping = {
    1: "Yes",
    2: "No",
    7: "Don’t know/Not Sure",
    9: "Refused"
}

CHCOCNCR_mapping = {
    1: "Yes",
    2: "No",
    7: "Don’t know/Not Sure",
    9: "Refused"
}

In [79]:
column_mapping = {
    '_MICHD': _MICHD_mapping,
    '_SEX': _SEX_mapping,
    'GENHLTH': GENHLTH_mapping,
    'ADDEPEV3': ADDEPEV3_mapping,
    'CHECKUP1': CHECKUP1_mapping,
    '_TOTINDA': _TOTINDA_mapping,
    '_RFHYPE6': _RFHYPE6_mapping,
    'CHOLMED3': CHOLMED3_mapping,
    '_RFCHOL3': _RFCHOL3_mapping,
    'CVDSTRK3': CVDSTRK3_mapping,
    '_ASTHMS1': _ASTHMS1_mapping,
    'CHCSCNCR': CHCSCNCR_mapping,
    'CHCOCNCR': CHCOCNCR_mapping
}

In [80]:
for c in df_ran.columns:
    if c in column_mapping:
        df_ran[c].replace(column_mapping[c], inplace = True)

In [81]:
df_ran.isnull().sum()

_MICHD          0
_SEX            0
GENHLTH         3
PHYSHLTH        2
MENTHLTH        0
ADDEPEV3        0
CHECKUP1        0
_TOTINDA        0
_RFHYPE6        0
CHOLMED3    56662
_RFCHOL3    56248
CVDSTRK3        0
_ASTHMS1        0
CHCSCNCR        0
CHCOCNCR        0
dtype: int64

In [82]:
# change missing value to "Not asked or Missing" category for 'CHOLMED3', 'GENHLTH' and '_RFCHOL3'
for c in ['CHOLMED3', 'GENHLTH', '_RFCHOL3']:
    df_ran[c].fillna("Not asked or Missing", inplace=True)

In [83]:
df_ran.isnull().sum()

_MICHD      0
_SEX        0
GENHLTH     0
PHYSHLTH    2
MENTHLTH    0
ADDEPEV3    0
CHECKUP1    0
_TOTINDA    0
_RFHYPE6    0
CHOLMED3    0
_RFCHOL3    0
CVDSTRK3    0
_ASTHMS1    0
CHCSCNCR    0
CHCOCNCR    0
dtype: int64

In [84]:
# Edit 88, 77 and 99 to specific values or np.nan according to documents
for c in ['PHYSHLTH', 'MENTHLTH']:
    df_ran[c].replace(88, 0, inplace = True)
    df_ran[c].replace(77, np.nan, inplace = True)
    df_ran[c].replace(99, np.nan, inplace = True)

In [85]:
df_ran.isnull().sum()

_MICHD         0
_SEX           0
GENHLTH        0
PHYSHLTH    8491
MENTHLTH    7084
ADDEPEV3       0
CHECKUP1       0
_TOTINDA       0
_RFHYPE6       0
CHOLMED3       0
_RFCHOL3       0
CVDSTRK3       0
_ASTHMS1       0
CHCSCNCR       0
CHCOCNCR       0
dtype: int64

# Combine cleaning dataset together

In [86]:
final_cleaning_data = pd.concat([df_ran, df_mark, lucas_df], axis=1)

In [87]:
final_cleaning_data.columns = final_cleaning_data.columns.str.lower()

In [88]:
final_cleaning_data.shape

(414511, 44)

In [89]:
final_cleaning_data.head()

,_michd,_sex,genhlth,physhlth,menthlth,addepev3,checkup1,_totinda,_rfhype6,cholmed3,...,_metstat,_imprace,_age80,_educag,ftjuda2_,frutda2_,grenda1_,frnchda_,potada1_,vegeda2_
0,No,Female,Poor,20.0,10.0,No,Within past 2 years (1 year but < 2 years ago),No physical activity or exercise in last 30 days,No,Yes,...,yes,white,70.0,highschool,5.397605e-79,100.0,5.700000e+01,4.300000e+01,14.0,100.0
1,Yes,Female,Good,0.0,0.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,Yes,Yes,...,yes,black,67.0,graduated college,5.397605e-79,100.0,1.400000e+01,5.397605e-79,14.0,100.0
2,Yes,Female,Very good,0.0,0.0,No,Within past year (anytime < 12 months ago),No physical activity or exercise in last 30 days,Yes,No,...,yes,black,72.0,highschool,5.397605e-79,100.0,5.397605e-79,1.400000e+01,14.0,43.0
3,No,Female,Very good,0.0,10.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,Yes,No,...,yes,white,62.0,highschool,7.100000e+01,43.0,1.000000e+01,5.700000e+01,27.0,71.0
4,Yes,Male,Poor,30.0,0.0,No,Within past year (anytime < 12 months ago),Had physical activity or exercise,No,Yes,...,no,other race,76.0,no highschool,5.397605e-79,100.0,1.000000e+02,2.900000e+01,29.0,100.0

# Export Cleaning Dataset

In [91]:
final_cleaning_data.to_csv('../data/cleaning_data_phase2.csv.zip', index = False)