In [1]:
import pandas as pd

In [5]:
#Read in data
df = pd.read_csv('../data/cleaning_data_phase1.csv.zip')
df.head()

,_STATE,GENHLTH,PHYSHLTH,MENTHLTH,CHECKUP1,CHOLMED3,CVDSTRK3,CHCSCNCR,CHCOCNCR,CHCCOPD3,...,_EDUCAG,_INCOMG1,_SMOKER3,_DRNKWK1,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_
0,1.0,5.0,20.0,10.0,2.0,1.0,2.0,2.0,2.0,1.0,...,2.0,3.0,3.0,5.397605e-79,5.397605e-79,100.0,5.700000e+01,4.300000e+01,14.0,100.0
1,1.0,3.0,88.0,88.0,1.0,1.0,2.0,2.0,2.0,2.0,...,4.0,9.0,4.0,5.397605e-79,5.397605e-79,100.0,1.400000e+01,5.397605e-79,14.0,100.0
2,1.0,2.0,88.0,88.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,5.397605e-79,1.400000e+01,14.0,43.0
3,1.0,2.0,88.0,10.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,5.0,4.0,3.000000e+02,7.100000e+01,43.0,1.000000e+01,5.700000e+01,27.0,71.0
4,1.0,5.0,30.0,88.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,1.000000e+02,2.900000e+01,29.0,100.0

In [6]:
#Filter out columns assigned to lucas to clean
lucas_df = df[['_SMOKER3','USENOW3','ECIGNOW1','_DRNKWK1',
'_METSTAT','_IMPRACE','_AGE80','_EDUCAG',
'FTJUDA2_','FRUTDA2_','GRENDA1_','FRNCHDA_',
'POTADA1_','VEGEDA2_']]

lucas_df.shape

(414511, 14)

# SMOKER3
Four-level smoker status: Everyday smoker, Someday smoker, Former smoker, Non-smoker

In [7]:
#Change smoker values
smoker_labels = {9 : 'missing', 4 : 'never smoked', 3: 'former smoker', 2: 'someday smoker', 1: 'everday smoker'}

lucas_df['_SMOKER3'] = lucas_df['_SMOKER3'] = lucas_df['_SMOKER3'].map(smoker_labels)

/var/folders/2s/0cx_vgq111qdb9jklnsjxt5w0000gp/T/ipykernel_2653/315093553.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucas_df['_SMOKER3'] = lucas_df['_SMOKER3'] = lucas_df['_SMOKER3'].map(smoker_labels)

In [8]:
lucas_df['_SMOKER3'].value_counts(dropna = False)

never smoked      244013
former smoker     111829
everday smoker     38387
someday smoker     14711
missing             5571
Name: _SMOKER3, dtype: int64

# USENOW3
Frequency of using chewing tobacco

In [9]:
#Change usenow values
usenow_labels = {1: 'every day', 2: 'some days', 3: 'no', 7: 'not sure', 9: 'refused', None: 'missing'}

lucas_df['USENOW3'] = lucas_df['USENOW3'].map(usenow_labels)

/var/folders/2s/0cx_vgq111qdb9jklnsjxt5w0000gp/T/ipykernel_2653/754823372.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucas_df['USENOW3'] = lucas_df['USENOW3'].map(usenow_labels)

In [10]:
lucas_df['USENOW3'].value_counts(dropna = False)

no           398041
every day      7671
some days      5393
missing        2715
refused         506
not sure        185
Name: USENOW3, dtype: int64

# ECIGNOW1
Do you now use e-cigarettes, every day, some days, or not at all?

In [11]:
#Changing ECIGNOW1 values
ECIGNOW1_labels = {1: 'everyday', 2: 'somedays', 3: 'no', 4: 'never', 7: 'not sure', 9: 'refused', None: 'missing'}

lucas_df['ECIGNOW1'] = lucas_df['ECIGNOW1'].map(ECIGNOW1_labels)

/var/folders/2s/0cx_vgq111qdb9jklnsjxt5w0000gp/T/ipykernel_2653/90887693.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucas_df['ECIGNOW1'] = lucas_df['ECIGNOW1'].map(ECIGNOW1_labels)

In [12]:
lucas_df['ECIGNOW1'].value_counts(dropna = False)

no          307990
never        82978
somedays     10182
everyday      8977
missing       3648
refused        497
not sure       239
Name: ECIGNOW1, dtype: int64

# _DRNKWK1
Calculated total number of alcoholic beverages consumed per week.

In [13]:
#Changing _DRNKWK1 values: if it is equal to 999000 it is Null

lucas_df['_DRNKWK1'] = lucas_df['_DRNKWK1'].map(lambda x: x if x < 99900 else None)

/var/folders/2s/0cx_vgq111qdb9jklnsjxt5w0000gp/T/ipykernel_2653/2711803132.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucas_df['_DRNKWK1'] = lucas_df['_DRNKWK1'].map(lambda x: x if x < 99900 else None)

In [14]:
lucas_df['_DRNKWK1'].isnull().sum()

15125

# _METSTAT
Metropolitan Status

In [15]:
#Changing _METSTAT values
_METSTAT_labels = {1: 'yes', 2: 'no', None: 'missing'}

lucas_df['_METSTAT'] = lucas_df['_METSTAT'].map(_METSTAT_labels)

/var/folders/2s/0cx_vgq111qdb9jklnsjxt5w0000gp/T/ipykernel_2653/138205222.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucas_df['_METSTAT'] = lucas_df['_METSTAT'].map(_METSTAT_labels)

In [16]:
lucas_df['_METSTAT'].value_counts(dropna = False)

yes        283103
no         124596
missing      6812
Name: _METSTAT, dtype: int64

# _IMPRACE
Imputed race/ethnicity value (If no response, imputed with most common race for that region)

In [17]:
#Changing _IMPRACE values
_IMPRACE_labels = {1: 'white', 2: 'black', 3: 'asian', 4: 'native american', 5: 'hispanic', 6: 'other race'}

lucas_df['_IMPRACE'] = lucas_df['_IMPRACE'].map(_IMPRACE_labels)

/var/folders/2s/0cx_vgq111qdb9jklnsjxt5w0000gp/T/ipykernel_2653/1462210858.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucas_df['_IMPRACE'] = lucas_df['_IMPRACE'].map(_IMPRACE_labels)

In [18]:
lucas_df['_IMPRACE'].value_counts(dropna = False)

white              315667
hispanic            36145
black               30488
other race          14654
asian               10630
native american      6927
Name: _IMPRACE, dtype: int64

# _AGE80
Imputed Age value collapsed above 80

In [19]:
lucas_df['_AGE80'].describe()

count    414511.000000
mean         54.722048
std          17.569839
min          18.000000
25%          41.000000
50%          57.000000
75%          69.000000
max          80.000000
Name: _AGE80, dtype: float64

# _EDUCAG
Level of education completed

In [20]:
#Changing _IMPRACE values
_EDUCAG_labels = {1: 'no highschool', 2: 'highschool', 3: 'attended college', 4: 'graduated college', 9: 'missing'}

lucas_df['_EDUCAG'] = lucas_df['_EDUCAG'].map(_EDUCAG_labels)

/var/folders/2s/0cx_vgq111qdb9jklnsjxt5w0000gp/T/ipykernel_2653/532543655.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucas_df['_EDUCAG'] = lucas_df['_EDUCAG'].map(_EDUCAG_labels)

In [21]:
lucas_df['_EDUCAG'].value_counts(dropna = False)

graduated college    170496
attended college     114027
highschool           104345
no highschool         23877
missing                1766
Name: _EDUCAG, dtype: int64

# FTJUDA2_
Computed Fruit Juice intake in times per day

In [22]:
lucas_df['FTJUDA2_'].isnull().sum()

24072

In [23]:
lucas_df['FTJUDA2_'].describe().round()

count    390439.0
mean         44.0
std         364.0
min           0.0
25%           0.0
50%           3.0
75%          33.0
max        9900.0
Name: FTJUDA2_, dtype: float64

# FRUTDA2_
Computed Fruit intake in times per day

In [24]:
lucas_df['FRUTDA2_'].isnull().sum()

23649

In [25]:
lucas_df['FRUTDA2_'].describe().round()

count    390862.0
mean        134.0
std         499.0
min           0.0
25%          43.0
50%         100.0
75%         100.0
max        9900.0
Name: FRUTDA2_, dtype: float64

# GRENDA1_
Computed Dark Green Vegetable intake in times per day

In [26]:
lucas_df['GRENDA1_'].isnull().sum()

23943

In [27]:
lucas_df['GRENDA1_'].describe().round()

count    390568.0
mean         79.0
std         464.0
min           0.0
25%          14.0
50%          43.0
75%          71.0
max        9900.0
Name: GRENDA1_, dtype: float64

# FRNCHDA_
Computed French Fry intake in times per day

In [28]:
lucas_df['FRNCHDA_'].isnull().sum()

24471

In [29]:
lucas_df['FRNCHDA_'].describe().round()

count    390040.0
mean         26.0
std         174.0
min           0.0
25%           3.0
50%          14.0
75%          29.0
max        9900.0
Name: FRNCHDA_, dtype: float64

# POTADA1_
Computed Potato Servings per day

In [30]:
lucas_df['POTADA1_'].isnull().sum()

28095

In [31]:
lucas_df['POTADA1_'].describe().round()

count    386416.0
mean         28.0
std         178.0
min           0.0
25%           7.0
50%          14.0
75%          29.0
max        9900.0
Name: POTADA1_, dtype: float64

# VEGEDA2_
Computed Other Vegetable intake in times per day

In [32]:
lucas_df['VEGEDA2_'].isnull().sum()

28150

In [33]:
lucas_df['VEGEDA2_'].describe().round()

count    386361.0
mean        140.0
std         650.0
min           0.0
25%          43.0
50%         100.0
75%         100.0
max        9900.0
Name: VEGEDA2_, dtype: float64

# Lower casing column names

In [34]:
lucas_df.columns = lucas_df.columns.str.lower()

In [35]:
lucas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414511 entries, 0 to 414510
Data columns (total 14 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _smoker3  414511 non-null  object
 1   usenow3   414511 non-null  object
 2   ecignow1  414511 non-null  object
 3   _drnkwk1  399386 non-null  float64
 4   _metstat  414511 non-null  object
 5   _imprace  414511 non-null  object
 6   _age80    414511 non-null  float64
 7   _educag   414511 non-null  object
 8   ftjuda2_  390439 non-null  float64
 9   frutda2_  390862 non-null  float64
 10  grenda1_  390568 non-null  float64
 11  frnchda_  390040 non-null  float64
 12  potada1_  386416 non-null  float64
 13  vegeda2_  386361 non-null  float64
dtypes: float64(8), object(6)
memory usage: 44.3+ MB

In [36]:
lucas_df.isnull().sum()

_smoker3        0
usenow3         0
ecignow1        0
_drnkwk1    15125
_metstat        0
_imprace        0
_age80          0
_educag         0
ftjuda2_    24072
frutda2_    23649
grenda1_    23943
frnchda_    24471
potada1_    28095
vegeda2_    28150
dtype: int64

In [38]:
lucas_df.to_csv('../data/cleaning_data_phase2_Lucas.csv.zip', index = False)