In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/cleaning_data_phase1.csv.zip')

In [3]:
df.shape

(414511, 44)

In [4]:
columns_mark = ['CHCCOPD3','CHCKDNY2','DIABETE4','_DRDXAR3','MARITAL','CHILDREN','_INCOMG1','EMPLOY1','HTM4','WTKG3','_BMI5','DECIDE','DIFFWALK','DIFFDRES','_STATE']
df_mark = df[columns_mark]

In [5]:
df_mark

,CHCCOPD3,CHCKDNY2,DIABETE4,_DRDXAR3,MARITAL,CHILDREN,_INCOMG1,EMPLOY1,HTM4,WTKG3,_BMI5,DECIDE,DIFFWALK,DIFFDRES,_STATE
0,1.0,2.0,3.0,1.0,1.0,88.0,3.0,7.0,150.0,3266.0,1454.0,2.0,2.0,2.0,1.0
1,2.0,1.0,1.0,1.0,9.0,88.0,9.0,8.0,168.0,NaN,NaN,1.0,1.0,2.0,1.0
2,2.0,2.0,1.0,2.0,3.0,88.0,2.0,7.0,165.0,7711.0,2829.0,2.0,2.0,2.0,1.0
3,2.0,2.0,1.0,2.0,1.0,88.0,5.0,7.0,163.0,8845.0,3347.0,2.0,2.0,2.0,1.0
4,2.0,2.0,1.0,2.0,1.0,88.0,2.0,8.0,180.0,9344.0,2873.0,2.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414506,1.0,2.0,2.0,2.0,5.0,1.0,3.0,1.0,157.0,6123.0,2469.0,2.0,2.0,2.0,78.0
414507,2.0,2.0,1.0,2.0,3.0,88.0,1.0,8.0,157.0,NaN,NaN,1.0,2.0,2.0,78.0
414508,2.0,2.0,3.0,NaN,1.0,88.0,6.0,7.0,180.0,9979.0,3068.0,2.0,2.0,2.0,78.0
414509,2.0,2.0,3.0,2.0,2.0,88.0,4.0,7.0,183.0,7938.0,2373.0,2.0,2.0,2.0,78.0
414510,2.0,2.0,3.0,2.0,2.0,88.0,4.0,1.0,160.0,8119.0,3171.0,2.0,2.0,2.0,78.0

In [6]:
df_mark.isnull().sum()

CHCCOPD3        0
CHCKDNY2        0
DIABETE4        0
_DRDXAR3     2332
MARITAL         1
CHILDREN        2
_INCOMG1        0
EMPLOY1         1
HTM4         9849
WTKG3       25486
_BMI5       30786
DECIDE          0
DIFFWALK        0
DIFFDRES      494
_STATE          0
dtype: int64

In [7]:
columns_to_map = ['CHCCOPD3','CHCKDNY2','_DRDXAR3','DECIDE','DIFFWALK','DIFFDRES']
columns_to_ask = ['DIABETE4']
columns_to_map_seperately= ['MARITAL','CHILDREN','INCOMG1','EMPLOY1','HTM4','WTKG3','BMI5','_STATE']

In [8]:
df['MARITAL'] = df['MARITAL'].apply(lambda x: 'married' if x == 1 else 'divorced' if x == 2 else 'widowed' if x == 3 else 'separated' if x == 4 else 'never_married' if x == 5 else 'member_unmarried' if x ==6 else 'refused' if x ==9 else 'unknown')

In [9]:
df['MARITAL'].value_counts()

married             215707
never_married        72928
divorced             52734
widowed              44502
member_unmarried     16790
separated             7861
refused               3988
unknown                  1
Name: MARITAL, dtype: int64

In [10]:
df['MARITAL'].isnull().sum()

0

In [11]:
df['CHILDREN']= df['CHILDREN'].apply(lambda x: 0 if x == 88 else None if x ==99 else x)

In [12]:
df['CHILDREN'].value_counts(dropna = False)
#bruh claims to have 81 children

0.0     304492
1.0      44409
2.0      37481
3.0      15699
4.0       5736
NaN       3684
5.0       1845
6.0        688
7.0        270
8.0         99
9.0         42
10.0        29
11.0         7
12.0         7
15.0         4
13.0         3
14.0         3
83.0         3
23.0         2
82.0         1
20.0         1
21.0         1
18.0         1
16.0         1
55.0         1
17.0         1
81.0         1
Name: CHILDREN, dtype: int64

In [13]:
# df['CHILDREN'].isnull().sum()
# df['CHILDREN'].fillna('unknown',inplace = True)

In [14]:
df['_INCOMG1'] = df['_INCOMG1'].apply(lambda x: 'less_15k' if x == 1 else '15k_25k' if x == 2 else '25k_35k' if x == 3 else '35k_50k' if x == 4 else '50k_100k' if x == 5 else '100k_200k' if x ==6 else 'greater_200k' if x ==7 else 'unknown')

In [15]:
df['_INCOMG1'].value_counts()

50k_100k        104831
unknown          79581
100k_200k        66109
35k_50k          46934
25k_35k          42336
15k_25k          34613
less_15k         21486
greater_200k     18621
Name: _INCOMG1, dtype: int64

In [16]:
df['_INCOMG1'].isnull().sum()

0

In [17]:
df['EMPLOY1'] = df['EMPLOY1'].apply(lambda x: 'employed_for_wages' if x == 1 else 'self_employed' if x == 2 else 'out_of_work_more_than_1_year' if x == 3 else 'out_of_work_less_than_1_year' if x == 4 else 'homemaker' if x == 5 else 'student' if x ==6 else 'retired' if x ==7 else 'unable_to_work'if x == 8 else 'refused')

In [18]:
df['EMPLOY1'].isnull().sum()

0

In [19]:
df['EMPLOY1'].value_counts()

employed_for_wages              177942
retired                         125874
self_employed                    35873
unable_to_work                   24139
homemaker                        16807
out_of_work_more_than_1_year     10766
student                          10234
out_of_work_less_than_1_year      9226
refused                           3650
Name: EMPLOY1, dtype: int64

In [20]:
# df['_INCOMG1'] = df['_INCOMG1'].apply(lambda x: 'less_15k' if x == 1 else '15k_25k' if x == 2 else '25k_35k' if x == 3 else '35k_50k' if x == 4 else '50k_100k' if x == 5 else '100k_200k' if x ==6 else 'greater_200k' if x ==7 else 'unknown')

In [21]:
df['DIABETE4'] = df['DIABETE4'].apply(lambda x: 'yes'if x == 1 else 'yes_told_during_pregnancy' if x ==2 else 'no' if x ==3 else 'no_pre_diabetes'if x ==4 else 'not_sure'if x ==7 else 'refused' if x == 9 else 'missing')

In [22]:
df['DIABETE4'].value_counts(dropna = False)

no                           346408
yes                           54461
no_pre_diabetes                9408
yes_told_during_pregnancy      3633
not_sure                        502
refused                          99
Name: DIABETE4, dtype: int64

### INTEGERS

In [23]:
# df['HTM4'].value_counts()
df['HTM4'].fillna(np.nan)

0         150.0
1         168.0
2         165.0
3         163.0
4         180.0
          ...
414506    157.0
414507    157.0
414508    180.0
414509    183.0
414510    160.0
Name: HTM4, Length: 414511, dtype: float64

In [24]:
df['HTM4'].max(), df['HTM4'].min()

(241.0, 91.0)

In [25]:
# df['WTKG3'].value_counts()
df['WTKG3'].fillna(np.nan)

0         3266.0
1            NaN
2         7711.0
3         8845.0
4         9344.0
           ...
414506    6123.0
414507       NaN
414508    9979.0
414509    7938.0
414510    8119.0
Name: WTKG3, Length: 414511, dtype: float64

In [26]:
# df['_BMI5'].value_counts()
df['_BMI5'].fillna(np.nan)

0         1454.0
1            NaN
2         2829.0
3         3347.0
4         2873.0
           ...
414506    2469.0
414507       NaN
414508    3068.0
414509    2373.0
414510    3171.0
Name: _BMI5, Length: 414511, dtype: float64

In [27]:
def number_converter(value):
    if pd.isnull(value):
        return 'not sure'
    elif value == 1:
        return 'yes'
    elif value == 2:
        return 'no'
    elif value == 7:
        return 'not sure'
    elif value == 9:
        return 'refused'
    else:
        return value

In [28]:
df[columns_to_map] = df[columns_to_map].applymap(number_converter)

In [29]:
df[columns_to_map] #note, column '_DRDXAR3' had a slightly different format than the rest. But the 1's and 0's still worked.

       CHCCOPD3 CHCKDNY2  _DRDXAR3 DECIDE DIFFWALK DIFFDRES
0           yes       no       yes     no       no       no
1            no      yes       yes    yes      yes       no
2            no       no        no     no       no       no
3            no       no        no     no       no       no
4            no       no        no     no      yes       no
...         ...      ...       ...    ...      ...      ...
414506      yes       no        no     no       no       no
414507       no       no        no    yes       no       no
414508       no       no  not sure     no       no       no
414509       no       no        no     no       no       no
414510       no       no        no     no       no       no

[414511 rows x 6 columns]

In [30]:
state_mapping = {
    1: 'Alabama',
     2: 'Alaska',
     4: 'Arizona',
     5: 'Arkansas',
     6: 'California',
     8: 'Colorado',
     9: 'Connecticut',
     10: 'Delaware',
     11: 'District of Columbia',
     13: 'Georgia',
     15: 'Hawaii',
     16: 'Idaho',
     17: 'Illinois',
     18: 'Indiana',
     19: 'Iowa',
     20: 'Kansas',
     21: 'Kentucky',
     22: 'Louisiana',
     23: 'Maine',
     24: 'Maryland',
     25: 'Massachusetts',
     26: 'Michigan',
     27: 'Minnesota',
     28: 'Mississippi',
     29: 'Missouri',
     30: 'Montana',
     31: 'Nebraska',
     32: 'Nevada',
     33: 'New Hampshire',
     34: 'New Jersey',
     35: 'New Mexico',
     36: 'New York',
     37: 'North Carolina',
     38: 'North Dakota',
     39: 'Ohio',
     40: 'Oklahoma',
     41: 'Oregon',
     42: 'Pennsylvania',
     44: 'Rhode Island',
     45: 'South Carolina',
     46: 'South Dakota',
     47: 'Tennessee',
     48: 'Texas',
     49: 'Utah',
     50: 'Vermont',
     51: 'Virginia',
     53: 'Washington',
     54: 'West Virginia',
     55: 'Wisconsin',
     56: 'Wyoming',
     66: 'Guam',
     72: 'Puerto Rico',
     78: 'Virgin Islands'
}

In [31]:
df['_STATE'].replace(state_mapping, inplace = True)

In [32]:
df_mark = df[columns_mark]

In [33]:
df_mark.head()

,CHCCOPD3,CHCKDNY2,DIABETE4,_DRDXAR3,MARITAL,CHILDREN,_INCOMG1,EMPLOY1,HTM4,WTKG3,_BMI5,DECIDE,DIFFWALK,DIFFDRES,_STATE
0,yes,no,no,yes,married,0.0,25k_35k,retired,150.0,3266.0,1454.0,no,no,no,Alabama
1,no,yes,yes,yes,refused,0.0,unknown,unable_to_work,168.0,NaN,NaN,yes,yes,no,Alabama
2,no,no,yes,no,widowed,0.0,15k_25k,retired,165.0,7711.0,2829.0,no,no,no,Alabama
3,no,no,yes,no,married,0.0,50k_100k,retired,163.0,8845.0,3347.0,no,no,no,Alabama
4,no,no,yes,no,married,0.0,15k_25k,unable_to_work,180.0,9344.0,2873.0,no,yes,no,Alabama

In [34]:
df_mark.isnull().sum()

CHCCOPD3        0
CHCKDNY2        0
DIABETE4        0
_DRDXAR3        0
MARITAL         0
CHILDREN     3684
_INCOMG1        0
EMPLOY1         0
HTM4         9849
WTKG3       25486
_BMI5       30786
DECIDE          0
DIFFWALK        0
DIFFDRES        0
_STATE          0
dtype: int64

In [35]:
df_mark.columns = df_mark.columns.str.lower()

In [36]:
df_mark.to_csv('../data/cleaning_data_phase2_Mark.csv.zip', index = False)